{% load static %}
<div class="col-lg-8">
    <h4>1. 반도체 산업</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;반도체 산업의 생태계는 크게 시스템 반도체와 메모리반도체로 나누어 생각해볼 수 있다.
    시스템 반도체는 연산을 담당하며 PC에 탑재되는 CPU와 스마트폰에 탑재되는 AP가 그 대표적인 예이다.
    시스템 반도체는 공정의 미세화와 난이도 상승으로 인해 설계와 설비투자에 대한 비용이 높아지면서 자체 생산시설(fab)을 가지고 있던 시스템 반도체 업체들이
    대부분 설계전문업체(fabless)로 전환하여 분업화가 뚜렷하게 나타나게 되었다. 이리하여 반도체의 설계는 팸리스가, 생산은 파운드리(foundry)가
    생산된 반도체의 품질을 검사하고 실제 쓰일 수 있는 형태로 포장하는 패키징 및 테스트 전문 후공정업체(Outsourced Semiconductor Aseembly and Test: OSAT)가
    담당하는 분업체계를 이루게 되었다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;한편 정보를 저장하는 메모리 반도체는 D램과 낸드플래시로 대표된다.
    시스템 반도체는 팹리스와 파운드리의 형태로 분업화 되어있는 반면 메모리반도체는 종합반도체업체(Integrated Device Manufacturer: IDM)가
    설계와 생산을 모두 수행하는 특징을 보이고있다. 메모리 반도체 생산공정에서 분업화가 일어나지 않은 이유로는 첫째, 메모리 반도체의 설계는 단순한 구조로
    이루어져 있어 설계의 부가가치가 낮기 때문이며 둘째, 메모리 반도체는 설계보다 소자기술이나 공정기술이 훨씬 중요한 만큼 설계와 생산을 한 업체에서 진행하는 것이
    경쟁력을 높이는 방법이기 때문이다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;또한 세부적으로 반도체 공급망 구조를 살펴보면 반도체의 생산공정은 투입, 설계 및 생산, 패키징ㆍ테스트, 마지목으로 소비로 진행된다.
    투입 단계에서 반도체 생산에 필요한 각종생산장비(생산설비, EUV 등), 웨이퍼 제작에 필요한 원재료(불화수소, 플루오린화 폴리아미드, 포토레지스트 등) 그리고
    반도체 칩 설계를 위한 각종 소프트웨어가 파운드리 및 종합반도체 생산업체에 제공된다. 다음 설계 및 생산단계에서는 메모리 반도체는 종합반도체 업체가
    설계와 생산을 동시에 진행하고 시스템 반도체의 경우 설계는 파운드리 업체가 각각 담당한다. 완성된 웨이퍼는 OSAT업체로 보내지고 해당 공정에서
    불량여부 테스트를 진행한 후 소비자의 요구에 맞게 패키징 된다.
    <br><br>

    <h4>2. 미중 반도체 경쟁 현황</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;17년 집권한 트럼프 행정부는 중국에 대하여 매우 적대적인 태도를 보였고 화웨이(Huawei) 등 중국 기술 기업에 대한
    블랙리스트와 기술이전통제, 25%에 이르는 관세를 내리는 무역제재를 실시하였다. 그리고 그 이후 집권한 바이든 행정부는 민주주의와 공산주의라는 이념적 공격과 동시에
    G7 정상회의, EU 정상회의 등에 참석하여 동맹국들을 규합하는 외교적 공격을 실시하였으며 통상면에서도 기존 대중 제재보다 훨씬 더 강화된 제재 법안들을 내놓았다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;21년 4월 8일과 6월 24일에 중국의 반도체 기업을 수출통제 리스트에 등재하고 6월 3일에는 중국의 군 관련 반도체업체에 대한
    금융투자 금지 행정명령을 발동하였다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;22년 2월에는 중국의 유일한 반도체 노광장비 업체인 상하이마이크로일렉트로닉스(SMEE·上海微電子裝備)를 수출통제대상인
    ‘미검증 리스트(unverified list)’에 상정하며  중국 반도체 제재의 범위를 ‘소부장(소재, 부품, 장비)’으로까지 확대하였다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;22년 8월에는 미국 연방의회 상하 양원에서 CHIPS(Creating Helpful Incentives to Produce Semiconductors)법을 통과시켰다.
    해당 법에서는 미국내 반도체 생산 업체들에게 약 537억달러(76조원) 에 이르는 보조금을 지원할 것을 약속하면서 보조금을 받는 회사들은 앞으로 10년동안
    중국에 반도체 생산 공장을 확장하지 못할 것을 규정했다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;가장 최근인 10월 7일에는 미 상무부가 대중 반도체 수출통제 강화조치를 발표했다.
    그 주요내용에는 특정사양 이상의 첨단 컴퓨팅 칩과 그것이 쓰이는 모든 제품, 특정 기준 내의 반도체를 생산하는 반도체 생산장비 등을 중국에
    수출하려면 허가가 필요하다는 것, 또 우려거래자(Entity List)에 등재된 중국의 28개 반도체ㆍ수퍼컴퓨터 관련 기업에 수출되는 모든 제품에도 허가가 필요하다는 것,
    중국 기업에는 원칙적으로 허가가 거부(presumption of denial)되는 한편 중국 내 다국적 기업에는 사안별 심사를 통해 허가를 발급한다는 것이 있다.
    이때 중국 내 다국적 기업에는 우리나라 삼성전자와 SK하이닉스도 포함되는데, 이들의 현지공장에 대해서는 1년간 수출금지조치를 유예했다.
    미국 정부는 삼성전자와 SK하이닉스 및 여타 중국과 거래하는 반도체 관련기업과 협상을 이어가면서 탈중국화를 유도할 것으로 보인다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;한편 중국은 세계 공급망으로부터 고립되는 상황을 대비하기 위해 반도체 국산화 전략을 추진중이다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;서론에서 언급한 것처럼 중국은 15년 ‘중국제조2025’라는 정책을 내걸고 2025년까지 반도체 자급률 70%를 달성하기 위해 부단히 노력 중이다.
    또한  21년 3월 “제14차 5개년 규획 및 2035년 장기목표 개요”를 발표하며 7대 전략 육성 분야 중 하나로 반도체를 포함시켰다.
    이에 대한 반도체 산업 육성 방안으로 설계 소프트웨어, 핵심 장비 및 소재, 첨단 메모리, 탄화규소(SiC) 및 질화갈륨(GaN) 기반 차세대 전력반도체(Power Semiconductor)개발을 언급하였다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;실제 이러한 계획들을 실현하기 위해 재정적으로 많은 지원이 있었다.
    2014년과 2019년에 1, 2기 “국가 반도체 산업투자 펀드”를 조성하여 21년 7월 기준 1, 2기 펀드 누적 투자금액은 390억달러에 이르렀다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;그러나 중국의 자급률 실황을 볼 때 목표 달성은 요원한 것으로 보인다. 2020년 중국이 전망한 반도체 자급률을 49%이었으나 실제로는 15.9%에 이르는 것으로 나타났다. 
    <br><br>