{% load static %}
<div class="col-lg-8">
    <ul>
        <li><span style = " font-size:1.5em;">논문</span>
            <ul>
                <li>경제협력총괄팀, “전세계 반도체 부족 사태 관련 美 반도체 산업 동향 및 전망”, (실리콘밸리무역관, 2021)</li>
                <li>경희권, “미국 반도체와 과학법의 정책적 시사점”, (KIET, 2022)</li>
                <li>관계부처 합동, “반도체 관련 인재 양성방안”, (관계부처, 2022)</li>
                <li>관계부처 합동, “시스템반도체 비전과 전략”, (관계부처, 2019)</li>
                <li>관계부처 합동, “종합 반도체 강국 실현을 위한 K-반도체 전략”, (관계부처, 2021)</li>
                <li>글로벌 공급망 분석센터, “글로벌 공급망 인사이트”, (글로벌 공급망 분석센터 , 2022)</li>
                <li>김규판, “일본의 반도체 전략 특징과 시사점”, (대외경제정책연구원, 2021)</li>
                <li>김아린, “한국의 중국 수입시장 점유율 하락과 우리의 대응방안”, (한국무역협회, 2022)</li>
                <li>김용균, 최세중, “미국 반도체와 과학법의 주요 내용과 영향”, (국회예산정책처, 2022)</li>
                <li>김은영, 성창배, “한국과 주요국 간의 반도체산업 수출경쟁력 및 수출경합도 비교 분석”, (아시아연구, 2021)</li>
                <li>김정한, “미국의 대중국 정책 방향과 중국의 제조업 공급망”, (KIF, 2021)</li>
                <li>김종기, 서동혁, 주대영, 최동원, 김재덕, “ICT산업의 글로벌 가치사슬 구조 변화와 발전과제”, (KIET, 2014)</li>
                <li>김종우, “중국의 반도체 굴기와 국가의 역할 : 제도주의적 분석”, (사회과학논집,2018)</li>
                <li>김중선, 심상렬, “한국 반도체산업 수출경쟁력에 관한 연구”, (통상정보연구, 2022)</li>
                <li>김현욱, “미국 바이든 행정부의 국가안보전략서 분석 (IFANS, 2022)</li>
                <li>권영화, “한국과 대만 반도체기업들의 중국내 직접투자 배경과 과정에 대한 비교사례연구 : 공장설립 투자를 중심으로”, (국제지역연구, 2016)</li>
                <li>박정준, 강혜인, “미국의 對한중일 반도체 패권경쟁과 시사점”, (무역통상학회지, 2022)</li>
                <li>배영자, “미중 반도체 갈등과 한국의 대응 전략”, (제주평화연구원, 2022)</li>
                <li>신규섭, 설송이, “주요국의 반도체 산업 정책과 공급망 변화 전망”, (한국무역협회 통산지원센터, 2021)</li>
                <li>오윤미, “대만 반도체 전략의 주요 내용과 전망”, (대외경제정책연구원, 2021)</li>
                <li>오일석, “반도체 공급망 경쟁에 따른 디지털 진영화와 우리의 대응”, (INSS, 2022)</li>
                <li>오일석, “바이든 행정부의 잠정국가안보 전략지침에 나타난 신안보 위협 인식과 대응방안”, (INSS, 2021)</li>
                <li>오종택, 전광호, “반도체 글로벌 가치사슬(GVC)의 정치경제학적 함의 : 미ㆍ중 반도체 경쟁과 한국의 기회와 도전”, (대한정치학회보,2021)</li>
                <li>오태현, “EU 반도체 전략의 주요 내용과 평가”, (대외경제정책연구원, 2021)</li>
                <li>위완잉(于婉營), “중국 대학의 반도체 인재양성 정책”, (HK학술동향, 20??)</li>
                <li>이미혜, “시스템반도체산업 현황 및 전망”, (한국수출입은행, 2020)</li>
                <li>이민자, “중국제조 2025와 미ㆍ중 기술패권 경쟁”, (서울디지털대, 2018)</li>
                <li>이현진, 윤형준, “유럽 반도체 법안의 주요 내용 및 전망”, (대외경제정책연구원, 2022)</li>
                <li>정형곤, “미중 반도체 패권 경쟁 속에서 한국 반도체 산업의 글로벌 공급망 구조와 리스크 분석”, (대외경제정책연구원, 2022)</li>
                <li>정형곤, “한국 반도체 산업의 공급망 리스크와 대응방안”, (대외경제정책연구원, 2021)</li>
                <li>정형곤, 윤여준, 연원호, 김서희, 주대영, “미국 반도체 패권 경쟁과 글로벌 공급망 재편”, (대외경제정책연구원, 2021)</li>
                <li>채명식, “반도체 강국 도약을 위한 산업발전 전략,” (KISTEP, 2022)</li>
                <li>최동준, “최근의 미국과 중국의 수출통제제도 강화경향에 대한 비교연구”, (이화여자대학교 법학논집, 2021)</li>
                <li>허성무, “반도체 패권을 둘러싼 한국ㆍ중국ㆍ미국간 경쟁 양상에 대한 연구 : 국제정치 및 경제 이론 활용”, (통상정보연구, 2018)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><span style = " font-size:1.5em;">인터넷 기사</span>
            <ul>
                <li>David Rees, “미중 긴장 악화는 어떤 영향을 미칠 것인가?”,
                    <a href="https://www.schroders.com/ko/kr/asset-management/insights/economic-viewpoint/what-are-the-implications-of-worsening-us-china-tensions/">https://www.schroders.com/ko/kr/asset-management/insights/economic-viewpoint/what-are-the-implications-of-worsening-us-china-tensions/</a>
                    <br>(검색일:2022.10.27)
                </li>
                <li>고은결, 김종택, “2030년 세계 최고 ‘K-반도체 벨트’ 구축한다…R&D 세액공제 최대 50%”,  
                    <a href="https://www.newsis.com/view/?id=NISX20210513_0001440066">https://www.newsis.com/view/?id=NISX20210513_0001440066</a>
                    <br>(검색일:2022.10.28)
                </li>
                <li>김경락, “중국에 울다가 웃다… ‘반도체 거인’ 대만의 전략”, 
                    <a href="https://gonggam.korea.kr/newsContentView.es?mid=a10201000000&section_id=NCCD_POLICY&content=NC002&news_id=EBC6D4014CC04203E0540021F662AC5F">https://gonggam.korea.kr/newsContentView.es?mid=a10201000000&section_id=NCCD_POLICY&content=NC002&news_id=EBC6D4014CC04203E0540021F662AC5F</a>
                    <br>(검색일:2022.10.28)
                </li>
                <li>김영익, “미국 반도체 지원법과 한국의 딜레마”
                    <a href="https://wspaper.org/article/28275">https://wspaper.org/article/28275</a>
                    <br>(검색일:2022.10.28)
                </li>
                <li>배유미, “칩 4 동맹이 뭔가요? 우리한테는 이득인가요?”, 
                    <a href="https://byline.network/2022/08/01-61/">https://byline.network/2022/08/01-61/</a>
                    <br>(검색일:2022.10.28)
                </li>
                <li>이나리, “전문가 9인에게 물어보니… ‘칩4 동맹’ 선택 아닌 생존의 문제”, 
                    <a href="https://zdnet.co.kr/view/?no=20220803105521">https://zdnet.co.kr/view/?no=20220803105521</a>
                    <br>(검색일:2022.10.28)
                </li>
                <li>토리잘, “한국에게 칩 4 동맹 오히려 좋다? 미국과 중국을 동시에 얻을 수 있는 기회인 이유”, 
                    <a href="https://contents.premium.naver.com/stockisacompany/pklinvestment/contents/220808203851716nv">https://contents.premium.naver.com/stockisacompany/pklinvestment/contents/220808203851716nv</a>
                    <br>(검색일:2022.10.28)
                </li>
            </ul>
        </li>
    </ul>