{% load static %}
<div class="col-lg-8">
    <h4>1) 연구 문제의 설정</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;이상의 논의에 따라 연구는 2020년부터 2022년 9월 30일 한국 국내 언론의 TSMC 관련 보도들을 정보원 및 인용문 주제어 중심으로 연도별 분석한다.
    TSMC 반도체 산업화에 대한 2년 9개월 변화를 살펴보면서 그의 이슈를 논하고자 하며 다음과 같이 구체적인 연구문제를 제시한다.
    <br><br>

    <li>연구문제1: TSMC 보도에서 중요도가 높은 정보원은 어떤 특성을 갖고 있는가? 주요 정보원이 무엇을 언급했는가? </li>
    <li>연구문제2: TSMC 보도에서 주요 주제와 그에 해당하는 이슈는 무엇인가?</li>
    <li>연구문제3: TSMC 보도에서 중요도가 높은 정보원들 간에 어떤 주제를 공통적으로 언급했는가?</li>

    <br><br>

    <h4>2) 연구대상</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;검색어는 TSMC로 선정하였다. 논문 초기에 “대만”과 “반도체”를 검색어로 설정하였지만 대만과 반도체는 직접적 연관성이 낮을 경우가 있다고 판단하여
    “대만 반도체”로 검색어를 바꾸었다. 그러나 “대만 반도체”를 검색어로 설정하면 연구문제가 애매모호해진 점이 있다.대만 반도체 업체는 TSMC, UMC, VIS, 파워칩(PowerChip), 누보톤(Nuvoton),
    미디어텍(MdeiaTek), 난야 테크놀로지(Nanya Technology), 윈본드(Winbond), ADATA 여러 업체가 있는데 반도체 산업 하나로 묶어서 그들의 역할을 보기가 어려운 점이 있다.
    따라서 검색어를 명확하게 지정하여 그의 특성과 변화를 정확히 파악하기 위해서 TSMC를 검색어로 설정하였다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;TSMC는 모리스 창이 1987년에 창립되었고 현재까지 25년 동안 글로벌 반도체 시장에서 활발하게 경제 활동을 진행해왔다.
    최근에 코로나19, 미중패권, 러시아 우크라이나 전쟁을 이슈로 반도체가 더욱 희귀하게 여기게 된 시점에 2020년부터 올해 2022년 3분기 9월 30일까지 기사를 분석한다. 분석 대상 개요는 다음과 같다. 

    <ul>
        <li>검색어: ‘TSMC’</li>
        <li>분석 기간: 2020년 1월 1일-2022년 9월 30일 (2년 9개월)</li>
        <li>분석 매체: 전국일간지, 경제일간지 포함된 19개 매체</li>
        <li>분석 지면: 경제</li>
        <li>데이터베이스: 빅카이즈</li>
        <li>자료 수지집 완료일: 2022년 10월 23일</li>
    </ul>
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;본 연구는 TSMC의 경제적인 담론에 측정하는 이유로 경제면 인용문만 수집하였다. 수집한 총 인용문 건수 18,238건이다.
    연도별 인용문 건수는 2020년 3,709건으로, 2021년 9,297건으로, 2022년 5,232건으로 수집하였다. 
    <br><br>

    <h4>3) 연구절차와 방법</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;이 연구 절차는 크게 2가지 절차로 이루어졌다. 첫째, 빅카이즈에서 데이터 수집하였다. 본 연구는 한국언론진흥재단의 뉴스 빅데이터 분석 시스템 빅카인즈(BigKinds)에서
    데이터를 수집하였다. 빅카이즈는 종합일간지, 경제지, 지역일간지, 방송사 등을 포함한 국내 최대의 기사 DB에 빅데이터 분석 기술을 접목한 새로운 뉴스 분석 서비스를 제공하며 그의 주요 특징은 3가지 있다.
    비정형 텍스트를 분석이 가능한 정형화된 데이터, 1990년부터 현재까지 54개 매체의 약 7천만 건 뉴스 콘텐츠 빅데이터화 그리고 뉴스 콘텐츠를 축적해 분석할 수 있는 정보로 추출하는 특징이 있다.
    빅카인즈는 형태소·개체명 분석, 분석결과 시각화, 자연어 처리 기술, 복합어 처리, 형태어 분석, 문장 분할, 의미중심성 데이터 처리 기술을 포함한다. 따라서 빅카인즈는 신뢰성이 높은 데이터베이스로
    평가하여 데이터베이스 수집대상으로 설정하였다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;둘째, 빅카인즈에서 위와 같이 분석 대상 개요를 상세조건으로 검색하여 인용문 검색결과를 엑셀로 다운로드를 받았다. 엑셀로 수집된 정보원과 주제어 데이터를 전처리를 한다.
    인용문에서 나온 정보원이 같은 사람이어도 유사어, 동의어, 외국어 표기 등 경우가 있다. 예를 들면, 조 바이든 대통령과 바이든 대통령, 문 대통령과 문재인 대통령, 트럼프 대통령과 도널드 트럼프 미국 대통령,
    이 부회장과 이재용 부회장 등과 같은 경우 이름이 명확히 나오거나 빈도가 높은 순을 기준으로 정보원의 명칭을 통합시키는 전처리한 과정을 거쳤다.하지만 시기를 대표하거나 직함이 다르게 인식할 수 있는
    정보원의 이름을 통합시키지 않았다. 예를 들면, 2021년에 주요 나온 정보원 박재근 한국반도체디스플레이기술학회장과 박재근 한양대 융합전자공학부 교수는 데이터를 정제한 과정을 거치지 않았다.
    그리고 유용하지 않은 정보원 삭제하였다. unknownactor, 한 고위, 한 임원, 업체, 회사, 업계, 관계자 출현빈도가 높지만 실제 알 수 없는 정보원들이다. 이러한 정보원을 삭제 과정을 거치고
    의미연결망 연결정도 중요도에 혼선을 일으키지 않게 한다.  정보원 전처리 과정을 통해서 중요도가 높은 정보원을 추출할 때 중복한 정보원이 나오지 않게 한다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;셋째, 전처리한 데이터를 정보원과 주제어 그리고 정보원-주제어의 의미연결망을 분석한 절차를 가졌다. 뉴스 의미연결망 정의에서 결점(node), 연결(edge), 방향(direct)로
    이루어진다. 결점은 개체명, 주제어, 문장, 매체 등이 될 수 있고, 연결은 기사와 인용문의 공동 출현이면 그의 유사도를 구축한다. 방향은 발행일자, 문서 등장 순선, 논리적 관계 순서 등이 있다.
    의미연결망 분석은 결점 간의 관계 즉 정보원 간, 주제어 간, 정보원과 주제어 간의 관계를 파악하여 TSMC에 대한 담론을 주도하는 정보원과 이슈를 일으킨 주제어를 탐구할 수 있을 것을 기대한다.  
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;정보원의 중요도는 뉴스 정보원 연결망 분석의 연결정도 중앙성(degree centrality)으로 표현한다. 뉴스 정보원 연결망은 기사에서 직접인용문의 정보원을 결점으로,
    기사 공동 출현 여부를 연결로 하는 의미연결망을 뜻한다.  연결망은 하나의 네트워크 구조의 속성이면 그 속성을 파악하기 위해서 먼저 어떤 정보원이 어떤 기사에 나왔다는 것을 파악하는 edge list 추출하여
    정보원이 행으로 뉴스기사식별자를 열로 2모드 인접행렬을 만들고 1모드 인접 행렬로 노드 간 연결되어 있으며 1, 연결되어 있지 않으면 0으로 나타낸다. 1모드 인접 행렬로 정보원들이
    동시 출현 행렬을 바탕으로 Netminer 연결정보 중앙성을 구한 결과로 정보원의 네트워크의 특징을 파악하였다. 연결정도 중앙성이 높은 정보원은 여러 기사에서 다양한 정보원과 인용됐음을 의미한다.
    이는 해당 정보원이 얼마나 다양한 주제에 대해 논객으로 나서는지를 보여준다.  이 연구에서 연결정도 중앙성 값을 기반으로 순위 상위 20권 정보원을 살펴보았다.
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;주제어의 중요도 뉴스 주제어 연결망 분석의 연결정보 중앙성으로 살펴본다. 빅카인즈에서 제공하는 인용문 특성추출 은 키워드보다 가치있는 정보로 판단하여 뉴스 인용문에서
    해당 특성추출 중 상위 3가지 주제어까지 추출한다. 주제어는 의미연결망에서 결점으로 타 주제어와의 동시출현 빈도에 따라서 연결정도 중앙성 값을 부여된다. 뉴스 주제 연결망에서 주제어별 연결정도 중앙성은
    중복 제거된 인용문 공동 출현 주제어 수를 의미한다. 연결정도 중앙성이 높은 주제는 여러 인용문에서 다양한 주제어와 한 문장에서 언급됐음을 의미한다.
    이는 해당 주제어가 얼마나 중심적인 의제에 가까운지, 다각도로 논의됐는지를 보여준다.   이 연구에서 연결정도 중앙성 값을 기반으로 순위 상위 20권까지의 주제어를 살펴보았다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;뉴스 정보원-주제어 의미연결망은 어떤 정보원이 어떤 주제어를 언급했는지, 중요한 정보원들이 공통적으로 언급된 주제어가 무엇인지를 살펴볼 수 있다.
    중심어 의미연결망은 공통 주제어를 언급된 정보원이 누구인지 분석하는 방법이다. 연결망 시각화는 ucinet으로 구현하였다. 
    <br><br>