{% load static %}
<div class="col-lg-8">
    <h4>1) 연구 요약</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;본 연구는 2020년부터 2022년 3분기까지 TSMC에 대한 한국보도의 뉴스 정보원과 인용문 주제어를 대상으로 의미연결망 분석을 하였다.
    의미연결망 분석 결과를 통해서 반도체 주요 이슈 및 반도체 산업 동향을 파악하였다. 분야별 전체적으로 정보원 2020년부터 2022년 3분기까지 총 2년 9개월간의 정보원 수를 대분류 기준으로 살펴보면
    경제 분야의 정보원 비중이 가장 높게 차지한 것으로 나왔다. 다음으로 문화 분야, 정치 분야 마지막으로 국제 분야였다. TSMC를 담론하는 정보원 중에 경제 분야 정보원의 영향력이 상대적으로 컸음을
    알 수 있다. 경제 분야 주요 정보원의 경우 삼성전자, TSMC, 인텔 등 대기업과 이재용 삼성전자 부회장, 인텔 최고경영자, 겔싱어 CEO 등 CEO들이 나왔지만 2021년과 2022년에는 안기현 한국반도체산업협회
    전무와 박재근 한국반도체디스플레이기술학회장이 높은 순위로 중요한 정보원으로 나왔다. 문화 분야의 주요 정보원은 로이터통신, 니혼게이자이신문, 월스트리트저널 등 언론계 신문방송사로 분류되었다.
    정치 분야 문재인 대통령, 도널드 트럼프 대통령, 조 바이든 대통령, 윤석열 대통령이 주요 정보원으로 나왔다. 2020년의 주요 정보원은 미국 행정부와 상무부로 이루어졌다. 국제 분야는 2020년과 2022년에
    중국이 주요 정보원으로 확인되었다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;인용문 주제어 및 정보원-주제어 연결망 분석을 통해서 주제어의 연결정도 중요도 순위를 파악하였다. 반도체, 미국, 중국, 삼성전자, 파운드리, 삼성, 대만, 한국, 가능성,
    기업들, 인텔, TSMC, 경쟁력, 공급망 등은 주요 주제어로 파악할 수 있다. 2020년에 화웨이 주요 주제어로 나온 것은 2020년 8월 17일 산업안보국이 화웨이 및 해외 계열사에 의한 지속적인 위협에
    추가적으로 대응하기 위해 수출관리규정을 개정을 하였고 이에 대한 미중패권경쟁이 지속적인 것을 알 수 있다. 2021년부터 차량용, 자동차 주제어를 높은 순위로 나타났으면 코로나 19 사태로 자동차 반도체
    공급이 부족한 상황을 처한 것을 알 수 있고 잉에 대한 각 나라의 대응책을 살펴볼 수 있다. 2022년에는 바이든 대통령이 한국에 방문하여 한미정상회담을 진행한 주요 성과는 반도체에 대한 경제안보 협력을
    도출하였다. 
    <br><br>

    <h4>2) 시사점 및 제언</h4>

    &nbsp;&nbsp;&nbsp;&nbsp;정보원과 주제어 그리고 정보원-주제어 의미연결망 분석을 통해서 연도별 중요한 정보원, 주제어 및 반도체 이슈를 살펴본 것으로 반도체 산업 동향과 이슈를 파악할 수 있다.
    2020년 코로나 19로 인한 차량용 반도체 부족, 미중지속적인 패권정쟁과 러시아-우크라이나 전쟁 등 사태로 인해 반도체 공급이 부족한 상황에 처해 있다. 본 연구는 2022년 3분기까지 TSMC 검색어의
    빅데이터를 연구대상으로 지정되지만 최근 10월 7일에 조 바이든 미국 행정부가 이르면 첨단 반도체 장비의 대중국 수출을 막기 위한 신규 수출통제 조치를 발표한다. 중국 반도체 기업들이 미국산 첨단
    기술·장비에 접근하는 것을 원천 차단해 중국의 ‘반도체 굴기’를 견제하려는 구상의 일환이다.  이에 대한 한국과 대만 반도체 산업이 이어가야 할 영향에 대한 검토가 필요하다.
    한국 반도체 산업을 확대하기 위해서 반도체 공장을 지어야 하고 이에 대한 정부의 투자가 필요하다고 안기현 전무가 제기하였다. 반도체 인재양성에 대한 구체적인 실행방안도 제시하며 대학 반도체 관련
    학과 인원이 늘겠다는 건의도 하였다. 대만의 경우 인재육성에 대한 2021년에 행정부가 6대 핵심 전략 산업에 대해서 발표하였다. 정보·디지털, 정보보안, 정밀 헬스케어, 국방·전략, 민생·전략비축물자,
    친환경·신재생에너지 산업이다. 주요 5G·AIoT, 차세대 반도체 기술 연구개발과 반도체 장비·소재 국산화 추진에 대한 방안을 제시하였다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;한편 AI와 4차 산업시대에 도래하는 시점에 차량용 반도체를 생산하는 대신 5G 스마트폰과 대용량 데이터 저장 수요 그리고 서버용 반도체 수요의 확대는 반도체 시장에
    전망을 제시하였다. 2022 이슈보고서에 따르면 2022년 반도체 산업 추출 전망은 스마트폰, 서버, PC에 한 출하량과 탑재량 전망을 조사하였다. 스마트폰의 경우 2022년 출하량은 3% 이상 증가할 것을
    전망하며 5G폰의 확대, 대용량 데이터 저장의 수요 등 요인으로 스마트폰의 반도체 탑재요량은 2021년 135GB에서 2022년 183GB로 35% 증가에 대한 예상하였다. 서버의 경우 2022년 초대형 데이터센터
    투자는 전년 대비 30%증가할 전망이다. 전년 대비 데이터센터 투자에 대한 예상되는 기업은 마이크로소프트 27%, 아마존 23%, 구글 20% 순으로 나왔다. 서버용 반도체 수요는 인텔의 신규 CPU 출시,
    비메모리반도체 공급부족 완화에 따른 IT기기 제조사의 메모리반도체 재고감소 등으로 증가할 전망 이다. 2022년 PC 출하량은 코로나19가 유발한 수요 정점은 지났으나 기업용 PC 수요 증가 등으로 전년
    대비 0.4% 소폭 감소가 예상되어 코로나19 이전보다 높은 수준으로 전망이다.    시스템 반도체 시장, 파운드리 시장은 5G, AI등으로 인해 시장 수요 증가할 예상이다. 
    <br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;위와 같이 반도체 산업 전망과 대응책에 대해서 알아보았다. 이 연구는 주요 정보원과 주제어만을 분석대상으로 살펴본 것으로 반도체 산업 동향과 글로벌 공급망을 파악하는
    한계점이 있다. 하지만 정보원과 주제어 분석을 통한 주요 이슈를 파악함으로써 반도체 산업의 현황 및 전망을 대략으로 살펴볼 수 있다.
    반도체 산업에 대한 전반적 시장 조사와 미래 방향 마련한 것은 실제로 공급 및 수익 데이터 추출을 통해서 가능할 것이다. 
    <br><br>