{% load static %}
<div class="col-lg-8">
    <ul>
        <li>권동준(2022). “반도체 초격차 컨트롤타워 시급…국회 나서야” 「전자신문」, 2022년 7월 5일</li>
        <li>김기수, “거세지는 미국의 대중 기술 공세: 그 내력과 중국 대응의 한계”, 「ifsPOST」, 2022년 10월 18일</li>
        <li>김수연, 김대욱, 최명일(2013), 「한국 광고홍보학 연구경향 언어 네트워크 분석:[광고연구], [광고학연구], [홍보학연구], [한국광고홍보학보]에 게재된 논문의 핵심어를 중심으로」, 
            『한국	광고홍 보학보』, 제15권 제1호(2013.1), p.60-61.</li>
        <li>박건형 (2021). “반도체, 용수 확보에만 1년… 규제 막힌 한국, 남은 시간 별로 없다” 「조선일보」, 2021년 5월 17일</li>
        <li>박대민, 박진우(2015), 「양적완화 정책에 대한 국내 언론 보도의 정보원 및 인용문 분석」, 『한국 언론학 보』, 제59권 제1호(2015.2), pp3,24 </li>
        <li>박대민, 이규탁(2022). 「한류의 산업화, 금융화, 그리고 스타트업화」, 『한국언론정봉학보』(2022년 통권 112호) pp.1,20-21,40-41</li>
        <li>대외경제정책연구원(2020). 트럼프 행정부의 대(對)화웨이 반도체 수출규제 확대와 전망 Vol. 3 No. 25, 2020년 8월 21일.</li>
        <li>서재창(2021). “시스템 반도체 주목해야 하는 이유, ‘산업구조’에 있다” 「헬로티」, 2021년 12월 23일</li>
        <li>안기현(2021). “지금 살아남아야 리더 될 수 있어…기업의 반도체 공장 투자 적극 지원해야”「K반도체전략」 2021년 7월호</li>
        <li>이미혜(2022), “2022년 반도체산업 수출 전망”, 「2022 이슈보고서」p1-3</li>
        <li>이성준(2016),「언어 네트워크 분석을 통해 살펴본 한국 언론학 분야 연구의 연구동향 분석」,『한국콘텐츠학회논문지』, 제16권 제7호(2016. 7), p.181.</li>
        <li>이승호. “삼성·TSMC 반도체 공장 새로 짓는 곳에는 OOO 공장이 있다?” 「The JoongAng경제」, 2021년 12월 13일</li>
        <li>임소연. “화웨이 '손발' 다 묶는 미국… 제재 위에 제재” 「머니투데이」, 2020년 8월 18일</li>
        <li>윤지우. “美 화웨이 반도체 '초강도' 추가 압박…한국에 미칠 영향은”「한경국제」, 2020년 5월 16	일</li>
        <li>오일석 연구위원(2022) 반도체 공급망 경쟁에 따른 디지털 진영화와 우리의 대응. 「INSS 전 략보고」, May 2022. No.162 초록</li>
        <li>외교부 한미정상회담 주요성과
            <a href="https://www.mofa.go.kr/www/wpge/m_24812/contents.do">https://www.mofa.go.kr/www/wpge/m_24812/contents.do</a>
        </li>
        <li>정위, 동혁() “의미연결망 분석을 이용한 웹툰의 연구 동향 분석” pp.1, 18, 19</li>
        <li>채명식, 진영현(2001). 차량용 반도체 공급부족 이슈와 정부 R&D 지원 방안. 〈KISTEP 정책 브리프〉, 2021-7호, 2021년 5월 24일 </li>
        <li>최현욱(2022). “바이든 "협력 강화해야 공동의 번영 증진…한미동맹은 역내 중심축"”,「데일리안」	2022년 5월 20일</li>
        <li>차량 반도체 부족 이유 3가지를 알아봅시다
            <a href="https://csense.tistory.com/1499">https://csense.tistory.com/1499</a>
        </li>
    </ul>