<!DOCTYPE html>
{% load static %}


<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> Dissertation2 </title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <!--first-->
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
   
    <!--#second--> 
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script type="text/javascript" src="{% static 'single_pages/js/wordcloud.js' %}"></script>

</head>
<body>

{% include 'blog/navbar.html' %}
<section>
    <div class="container mt-4">
        <h1 align="center">논문2</h1>
        <div align="right">
            <span style = " font-size:1.5em;">2022.11.01</span><br><br>
            <!--<div class="card" data-toggle="modal" data-target="#inflearn_django2">
                <input type="button" value="he">
            </div> -->
            <a href="{% static 'single_pages/file/미중 공급망 분열과 한국의 선택에 따른 영향 및 대처방안에 대한 연구.pdf' %}" class="btn btn-outline-dark" role="button" download>Download: 논문</a>
        </div>
        <br><br>
        <details>
            <summary><span style = " font-size:2.0em;">반도체</span></summary>
            {% include 'single_pages/p2chapter1.html' %}
        </details>
        
    </div>
</section>
<br><br>

<br><br>

{% include 'single_pages/profile.html' %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</body>
</html>